<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.android.settings">

    <application>

        <activity-alias
            android:name="RefreshRateSettings"
            android:label="@string/refresh_rate_title"
            android:exported="true"
            android:targetActivity="Settings$ParanoidSettingsActivity">
            <intent-filter android:priority="32">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
            <intent-filter android:priority="1">
                <action android:name="android.settings.REFRESH_RATE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="co.aospa.settings.display.RefreshRateSettings" />
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY"
                       android:value="@string/menu_key_display"/>
            <meta-data android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                android:value="true" />
        </activity-alias>

        <activity-alias
            android:name="DcDimmingSettings"
            android:label="@string/dc_dimming_title"
            android:exported="true"
            android:targetActivity="Settings$ParanoidSettingsActivity">
            <intent-filter android:priority="32">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
            <intent-filter android:priority="1">
                <action android:name="android.settings.DC_DIMMING_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="co.aospa.settings.display.DcDimmingSettings" />
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY"
                       android:value="@string/menu_key_display"/>
            <meta-data android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                android:value="true" />
        </activity-alias>

        <activity-alias
            android:name="PowerButtonTorchSettings"
            android:label="@string/power_button_torch_title"
            android:exported="true"
            android:targetActivity="Settings$ParanoidSettingsActivity">
            <intent-filter android:priority="32">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
            <intent-filter android:priority="1">
                <action android:name="android.settings.POWER_BUTTON_TORCH_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="co.aospa.settings.gestures.PowerButtonTorchSettings" />
        </activity-alias>

        <activity-alias
            android:name="AdaptivePlaybackSoundSettings"
            android:label="@string/adaptive_playback_screen_title"
            android:exported="true"
            android:targetActivity="Settings$ParanoidSettingsActivity">
            <intent-filter android:priority="32">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
            <intent-filter android:priority="1">
                <action android:name="android.settings.ADAPTIVE_PLAYBACK_SOUND_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="co.aospa.settings.sound.AdaptivePlaybackSoundSettings" />
        </activity-alias>

        <activity
            android:name=".Settings$ParanoidSettingsActivity"
            android:theme="@style/Theme.SubSettingsBase"
            android:enabled="true"
            android:exported="true"
            android:excludeFromRecents="true"
            android:taskAffinity="com.android.settings"
            android:parentActivityName="Settings" />

    </application>

</manifest>
