<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.android.settings"
        android:sharedUserId="android.uid.system"
        coreApp="true">

    <original-package android:name="com.android.settings"/>

    <application android:name="co.aospa.settings.ParanoidSettingsApplication"
            android:icon="@drawable/ic_launcher_settings"
            android:theme="@style/Theme.Settings"
            tools:replace="android:name">

        <uses-library android:name="org.apache.http.legacy" />

        <activity
            android:name="ParanoidSettings$RefreshRateSettingsActivity"
            android:label="@string/refresh_rate_title"
            android:exported="true">
            <intent-filter android:priority="32">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
            <intent-filter android:priority="1">
                <action android:name="android.settings.REFRESH_RATE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="co.aospa.settings.display.RefreshRateSettings" />
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY"
                       android:value="@string/menu_key_display"/>
            <meta-data android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                android:value="true" />
        </activity>

        <activity
            android:name="ParanoidSettings$DcDimmingSettingsActivity"
            android:label="@string/dc_dimming_title"
            android:exported="true">
            <intent-filter android:priority="32">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
            <intent-filter android:priority="1">
                <action android:name="android.settings.DC_DIMMING_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="co.aospa.settings.display.DcDimmingSettings" />
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY"
                       android:value="@string/menu_key_display"/>
            <meta-data android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                android:value="true" />
        </activity>

    </application>
</manifest>
